<div>
	<h1>Link Content</h1>
	<p>
			 Vestibulum lacinia lorem ultricies justo semper a tristique quam interdum. Nulla eleifend condimentum accumsan. Aliquam dignissim sem viverra arcu sagittis tempus dictum justo rhoncus. Nam tempus tincidunt congue. Nullam ut magna elit. In dignissim, mauris vel tempor volutpat, erat quam elementum massa, id blandit libero risus et lectus. Sed eget eros metus, et laoreet turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas cursus pulvinar sodales. Sed consequat, tellus eget pretium rutrum, diam nunc mattis libero, in mollis tellus ligula non dui. Suspendisse potenti. Proin urna augue, tristique vitae ultrices sed, blandit quis ante.
	</p>
	<component id="content1" htmlsrc="components/content1.html"></component>
	<component id="content2" htmlsrc="components/content2.html"></component>
</div>