@media screen and (max-width: 480px) {
	#footer{
		display:none;
		padding: 1%;
		width: 96%;
		border:solid 1px #ccc;
		margin: 1% auto; 
		clear:left;
	}
}

@media screen and (min-width: 481px){
	#footer{
	clear:left;
	text-align:center;
	border:1px solid#ccc;
	margin: 1% auto; 
	padding: 1%;
	width: 96%;
	position:absolute;
	bottom:0px;
	}
	
	#footernav{
		margin:0px auto;
		text-align:center;
	}
	
	#footernav a{
		color:#000;
	}
}