#header{
	background-color:#FFF;
	display:block;
	overflow:auto;
	font-size:200%;
}

@media screen and (max-width: 480px) {
	#header {
		font-size:140%;
	}
}

@media screen and (min-width: 481px) {
#header img{
		font-size:170%;
	}
}